<% content_for :heading, skill_roll.character_name, flush: true %>
<% content_for :subject, skill_roll.character_id %>

<article class="skill-roll-notification">
  <h2>
    <%= t ".description", skill: SkillSet.human_attribute_name(skill_roll.skill) %>
  </h2>

  <ol class="dice-pool" role="list">
    <div>
      <%= render sorted_dice_pool(skill_roll.dice_pool) %>
    </div>
  </ol>

  <p class="results">
    <%= [t(".successes", count: skill_roll.successes), t(".banes", count: skill_roll.banes)].to_sentence locale: I18n.locale %>
  </p>
</article>
